In [2]:
import pandas as pd

parquet_file = 'train_data/cost_0000.parquet'

df = pd.read_parquet(parquet_file)

In [5]:
df

,z0_cost,z1_cost,q_cost,w_cost,z0,z1,q,w,B,s,E
0,0.000773,0.101061,11.457478,11.075267,0.049,0.101,0.217,0.633,1,9,25
1,0.006622,0.389365,6.201257,3.849966,0.261,0.389,0.118,0.232,1,8,26
2,0.000706,0.114106,19.091800,6.555806,0.042,0.114,0.359,0.485,1,9,17
3,0.027028,0.033088,12.890228,4.577866,0.403,0.033,0.246,0.318,1,6,24
4,0.209694,0.113298,0.842839,1.883563,0.672,0.111,0.016,0.201,1,3,14
...,...,...,...,...,...,...,...,...,...,...,...
1048571,0.000018,0.052066,28.897098,4.647011,0.001,0.052,0.540,0.407,1,9,13
1048572,0.071962,0.101575,21.587666,0.994872,0.421,0.101,0.414,0.064,1,4,29
1048573,0.005580,0.411330,4.300540,5.190812,0.224,0.411,0.082,0.283,1,8,30
1048574,0.041455,0.016109,18.539748,2.936712,0.357,0.016,0.352,0.275,1,5,16
1048575,0.075440,0.301150,7.909436,6.801999,0.064,0.289,0.152,0.495,1,0,27

In [7]:
import os
import pandas as pd

data_dir = 'train_data'

train_data = []

# Iterate through the files in the directory
for filename in os.listdir(data_dir):
    if filename.endswith('.parquet'):
        parquet_file = os.path.join(data_dir, filename)
        df = pd.read_parquet(parquet_file)
        train_data.append(df)

combined_train_data = pd.concat(train_data, ignore_index=True)

In [9]:
num_rows = combined_train_data.shape[0]

In [10]:
num_rows

10485760